@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: comfortaa;
  src: url("../../public/font/Comfortaa.ttf");
}

@font-face {
  font-family: dm;
  src: url("../../public/font/DMSerifDisplay.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: dm;
}



p {
  font-family: comfortaa;
}